

/*Devices smaller than 767px*/
@media (max-width: 767px) {


/* page1 media */
nav{

    position:fixed;
    box-sizing: border-box;
    height: 6%;
    font-size: 12px;
    width: 100vw;
}

nav #Home{
order: 0;
}
nav #Aboutme{
order: 1;
}

nav #Projects{
order: 2;
}

nav #Skills{
order: 3;
}

nav span div{

    font-size: 20px;
}

#Home , #Skills, #AboutMe , #Projects{

    padding: 5px 8px 5px 8px;
}
#Home:hover , #AboutMe:hover, #Skills:hover , #Projects:hover{

    padding: 5px 8px 5px 8px;
    transform: translateY(-3px);
    font-size: 14px;
}

#cp1{
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border-top: 5px solid #f2f2f200; 

}


#sect1{
    
    box-sizing: border-box;
    height: 89vh;
    display: flex;
    flex-direction: column;
    margin-top: 9vh;    
}
#sect1::before{

    background-position: left;
    width: 100%;
}


#leftint{

    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: fit-content;
    align-items: center;
    gap: 20vh;
    
}




#PF{

    position: absolute;
    font-size: 40px;
    top: 10%;
    left: 5%;
}

#IntroLine{

    position: absolute;
    box-sizing: border-box;
    width: 80%;
    bottom: 24%;
    padding: 5%;
    font-size: 22px;
    align-self: center;
    line-height: 170%;
}

.btns #download {

    position: absolute;
    bottom: 10%;
    left: 10%;
}



#picsection{
    position: relative;
    width: 80%;
    height: 30%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    order: 2;
}

#me{
    

    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 35rem;
    bottom: -10%;
    z-index: -1;

    
}



/* page2 media */

.pg2{

    display: block;
    box-sizing: border-box;
    position: relative;
    height: inherit;

}


#sect2{

    display: block;
    height: fit-content;
    top: 0;
    
}
#sect2::before{

    background-position: center;
    position: absolute;
    left: 0;
    top: 5%;
    height: 100%;
    opacity: 60%;

}
#bg2{

    box-sizing: border-box;
    height: 92vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    opacity:0.5;
    
}
#cp2{
    

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 30% 0% 5% 0%;
    padding-bottom: 105px;
    height: max-content;
    gap: 10vh;


}
#Edu{
    
    font-size: 40px;
    position: relative;
    top: 5vh;
    left: 0;
}

#eduCont{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    height: 100%;
    padding: 5% 0 5% 0;
    gap: 20vh;

}

#eduCont h3{
    padding: 0%;
    font-size: 28px;
}

#edu1, #edu2 , #edu3{

    box-sizing: border-box;
    margin: 0;
    width: 80%;
    height: 70%;
    line-height: 150%;
    font-size: 22px;
    align-self: center;
}


/* page 3 media */


.pg3{

    display: block;
    box-sizing: border-box;
    position: relative;
    top: 223vh;
    height: inherit;

}

#sect3{

    box-sizing: border-box;
    display: block;
    height: 390vh;
    
}

#sect3::before{

    content: "";
    background-position: center;
    position: absolute;
    left: 0;
    top: 2%;
    opacity: 60%;

}



#cp3{

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    gap: 20%;
    background-position: center;
}
#cp3::before{

    content: "";
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    margin: 3% 0px 0px 0px;
    
}

#Prhead{

    top: 10%;
    position: relative;
    font-size: 40px;
}

#Project{

    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    justify-content: space-around;
    gap: 20vh;

}

#Pr1 , #Pr2 , #Pr3 , #Pr4{

    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: 70vh;
    background-color: #f2f2f2d2;
    justify-content: center;
    align-self: center;

}

#Pr1 , #Pr3{

    background-color: #11a988c2;
    color: #f2f2f2;
}



#Project h4{

    display: flex;
    font-size: 28px;
    margin: 10% 0% 5% 0%;
    padding: 0% 10% 0% 15%;
    justify-content: center;

}

#Pr1 h4 , #Pr3 h4{
    color: #f2f2f2;
}


#Project li{
    font-size: 22px;
    margin: 10% 5% 5% 15%;
}

/* page 4 media */


.pg4{

    box-sizing: border-box;
    position: absolute;
    top: 710vh;

}

#sect4{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    
}

#sect4::before{

    content: "";
    background-position: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 75%;
    top: 5%;
    opacity: 60%;

}

#cp4{

    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    top: 1%;
    height: 100%;
    width: 100%;
    margin: 10% 0% 15% 0%;
    gap: 40vh;
    
}
#cp4::before{

    content: "SKILLS";
    display: flex;
    font-family: LMM;
    font-size: 40px;
    justify-content: center;
    position: relative;
    top: 150px;
    letter-spacing: 5px;
    color: #f2f2f2;

}
#Bio{

    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    gap: 20vh;
    top: 15vh;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 3vh;
}
#Bio1 , #Bio2 , #Bio3
{
    
    width: 100%;
    height: 50vh;
    top: -20vh;
}

#Bio h4{
    font-size: 28px;
}
#Bio li{
    font-size: 22px;
}

#Bio3{
    height: fit-content;
}

#head{
    display: none;
    
}
#exp{

    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    top: -2vh;
    left: auto;
    right: auto;
    align-self: center;
    height: fit-content;

    
    
}

#exp h4{

    font-size: 28px;
}
#exp li{
    font-size: 22px;
}

#pageEnd{

    display: flex;
    box-sizing: border-box;
    position: relative;
    height: 15vh;
    justify-content: space-between;
    gap: 0%;

}

#pageEnd::after{

        content: "Copyright ©2023 All rights reserved | Personal Portfolio | Nauman Zaheer";
    display: inline;
    position: absolute;
    font-size: 10px;
    left: 5vw;
    right: 5vw;
    order: 2;
    bottom: 5%;
    

}

#leftEnd{

    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    top: 0;
    width: 0%;
    font-size: 12px;
    line-height: 175%;
    padding-left: 1%;
    order: 1;
}
#leftend l1{
    display: block;
    width: 50%;
}
#icons{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 0%;
    order: 3;
    top: 15%;
    right: 0;
    height: fit-content;
    gap: 5px;
}

.fa-facebook , .fa-instagram , .fa-threads , .fa-linkedin{
    font-size: 3vh;
    margin-top: 5%;
    margin-right: 10px;
}

.fa-facebook:hover , .fa-instagram:hover , .fa-threads:hover , .fa-linkedin:hover{
    transform: translateY(-2px);
}


.fa-envelope , .fa-phone , .fa-house{

    font-size: 2vh;
    position: absolute;
    left: 15px;
    
}

}








/*Devices between 768px and 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {

    /* page1 media */
nav{

    height: 8%;
    font-size: 24px;

}

nav #Home{
order: 0;
}
nav #Aboutme{
order: 1;
}

nav #Projects{
order: 2;
}

nav #Skills{
order: 3;
}

nav span div{

    font-size: 40px;
}

#Home , #Skills, #AboutMe , #Projects{

    padding: 5px 8px 5px 8px;
}
#Home:hover , #AboutMe:hover, #Skills:hover , #Projects:hover{

    padding: 5px 8px 5px 8px;
    transform: translateY(-3px);
    font-size: 24px;
}

#cp1{
    margin-bottom: 10px;
    box-sizing: border-box;
    border-top: 5px solid #f2f2f200; 

}


#sect1{
    
    box-sizing: border-box;
    height: 89vh;
    display: flex;
    flex-direction: column;
    margin-top: 9vh;    
}
#sect1::before{

    background-position: left;
    width: 100%;
}


#leftint{

    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: -4%;
    height: fit-content;
    align-items: center;
    gap: 20vh;
    
}




#PF{

    position: absolute;
    font-size: 70px;
    top: 15%;
    left: 10%;
}

#IntroLine{

    position: absolute;
    box-sizing: border-box;
    width: 80%;
    bottom: 24%;
    padding: 5%;
    font-size: 32px;
    align-self: center;
    line-height: 170%;
}

.btns #download {

    font-size: 32px;
    position: absolute;
    bottom: 10%;
    left: 10%;
}



#picsection{
    position: relative;
    width: 80%;
    height: 30%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    order: 2;
}

#me{
    

    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 48rem;
    bottom: -10%;
    z-index: -1;

    
}



/* page2 media */

.pg2{

    display: block;
    box-sizing: border-box;
    position: relative;
    height: inherit;

}


#sect2{

    display: block;
    height: fit-content;
    top: 0;
    
}
#sect2::before{

    background-position: center;
    position: absolute;
    left: 0;
    top: 5%;
    height: 100%;
    opacity: 60%;

}
#bg2{

    box-sizing: border-box;
    height: 92vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    opacity:0.5;
    
}
#cp2{
    

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 30% 0% 5% 0%;
    padding-bottom: 105px;
    height: max-content;
    gap: 10vh;


}
#Edu{
    
    font-size: 70px;
    position: relative;
    top: 5vh;
    left: 0;
}

#eduCont{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    height: 100%;
    padding: 15% 5% 15% 5%;
    gap: 20vh;

}

#eduCont h3{
    padding: 0%;
    font-size: 52px;
}

#edu1, #edu2 , #edu3{

    box-sizing: border-box;
    margin: 0;
    width: 80%;
    height: 70%;
    line-height: 150%;
    font-size: 32px;
    align-self: center;
}


/* page 3 media */


.pg3{

    display: block;
    box-sizing: border-box;
    position: relative;
    top: 223vh;
    height: inherit;

}

#sect3{

    box-sizing: border-box;
    display: block;
    height: 390vh;
    
}

#sect3::before{

    content: "";
    background-position: center;
    position: absolute;
    left: 0;
    top: 2%;
    opacity: 60%;

}



#cp3{

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    gap: 20%;
    background-position: center;
}
#cp3::before{

    content: "";
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    margin: 3% 0px 0px 0px;
    
}

#Prhead{

    top: 10%;
    position: relative;
    font-size: 70px;
}

#Project{

    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    justify-content: space-around;
    gap: 30vh;
    padding: 15% 5% 15% 5%;
    margin: 5%;

}

#Pr1 , #Pr2 , #Pr3 , #Pr4{

    box-sizing: border-box;
    position: relative;
    height: fit-content;
    background-color: #f2f2f2d2;
    justify-content: center;
    align-self: center;
    width: 80%;
    padding-bottom: 30px;

}

#Pr1 , #Pr3{

    background-color: #11a988c2;
    color: #f2f2f2;
}



#Project h4{

    display: flex;
    font-size: 52px;
    margin: 11% 0px 5% 20px;
    justify-content: center;
}

#Pr1 h4 , #Pr3 h4{
    color: #f2f2f2;
}


#Project li{
    font-size: 32px;
}

/* page 4 media */


.pg4{

    box-sizing: border-box;
    position: absolute;
    top: 710vh;

}

#sect4{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    
}

#sect4::before{

    content: "";
    background-position: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 75%;
    top: 5%;
    opacity: 60%;

}

#cp4{

    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    top: 1%;
    height: 100%;
    width: 100%;
    margin: 10% 0% 15% 0%;
    gap: 40vh;
    
}
#cp4::before{

    content: "SKILLS";
    display: flex;
    font-family: LMM;
    font-size: 70px;
    justify-content: center;
    position: relative;
    top: 30vh;
    letter-spacing: 5px;
    color: #f2f2f2;

}
#Bio{

    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20vh;
    width: 80%;
    top: 20vh;
    padding: 0 6% 0 6%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 3vh;
}
#Bio1 , #Bio2 , #Bio3
{
    
    width: 100%;
    height: fit-content;
    top: -20vh;
    padding-bottom: 5vh;
}

#Bio h4{
    font-size: 52px;
}
#Bio li{
    font-size: 28px;
}

#Bio3{
    height: fit-content;
}

#head{
    display: none;
    
}
#exp{

    box-sizing: border-box;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
    top: 7vh;
    left: auto;
    right: auto;
    align-self: center;
    height: fit-content;

}

#exp h4{

    font-size: 52px;
}
#exp li{
    font-size: 28px;
}

#pageEnd{

    display: flex;
    box-sizing: border-box;
    position: relative;
    height: 20vh;
    justify-content: space-between;
    gap: 0%;

}

#pageEnd::after{

    content: "Copyright ©2023 All rights reserved | Personal Portfolio | Nauman Zaheer";
    display: flex;
    position: absolute;
    font-size: 18px;
    order: 2;
    bottom: 1%;
    margin: 0px 10% 10px 14%;

}

#leftEnd{

    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    top: 0;
    width: 0%;
    font-size: 28px;
    line-height: 150%;
    padding-left: 1%;
    order: 1;

}
#leftend l1{
    display: block;
    width: 50%;
}
#icons{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 0%;
    order: 3;
    top: 15%;
    right: 0;
    height: fit-content;
    gap: 5px;
}

.fa-facebook , .fa-instagram , .fa-threads , .fa-linkedin{
    font-size: 5vh;
    margin-top: 8%;
    margin-right: 10px;
}

.fa-facebook:hover , .fa-instagram:hover , .fa-threads:hover , .fa-linkedin:hover{
    transform: translateY(-2px);
}


.fa-envelope , .fa-phone , .fa-house{

    font-size: 2vh;
    position: absolute;
    left: 15px;
}
  
}

/*Devices smaller than 1200px and in mid 1024px */
@media (width >= 1024px) and (width <= 1200px){


    /* page1 media */





#sect1{
    
    box-sizing: border-box;
    height: 86vh;
    display: flex;
    margin: 0%;
    margin-top: 5%;
    justify-content: space-between;
    
}



#IntroLine{

    font-size: 24px;

}

#me{

    box-sizing: border-box;
    position: relative;
    width: 100%;
    bottom: 1%;
    
}




    /* page2 media */

    #sect2{

    box-sizing: border-box;
    position: absolute;
    height: 110vh;
    width: 100%;

}
#sect2::before{

    position: absolute;
    width: 100%;
    left: 0;
    top: 11%;
    height: 85%;
    opacity: 60%;

}
#bg2{

    box-sizing: border-box;
    height: 92vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    opacity:0.5;
    
}
#cp2{

    margin: 10% 5% 5% 5%;
    height: max-content;
    gap: 1vh;

}
#Edu{
    
    font-size: 70px;
    letter-spacing: 5px;
    left: 2vh;
    font-family: LMM;
    color: #f2f2f2;
}

#eduCont{

    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 5% 5% 5% 5%;
    height: 40vh;
    gap: 10%;

}

#eduCont h3{
    font-family: AR;
    color: #455d7a;
    padding: 0vh 25% 0vh 35%;
    font-size: 40px;
}

#edu1 h3 , #edu3 h3{
    color: #f2f2f2;
}
#edu1, #edu2 , #edu3{

    box-sizing: border-box;
    width: 40vh;
    height: 50vh;
    align-self: flex-start;
    border-radius: 5px;
    font-size: 20px;
}

#edu1{
    margin-left: 4vh;
    background-color: #11a988c2;
    color: #f2f2f2;    
}
#edu3{
   background-color: #11a988c2;
   color: #f2f2f2;       
}




    /* page3 media */

    #sect3{

    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #23314294;
    
}

#sect3::before{

    content: "";
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgba(0, 0, 0, 0.499)), url(bgc4.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 11%;
    height: 95%;
    z-index: -2;
    opacity: 50%;

}



#cp3{

    top: 12%;
    height: 85vh;
    width: 100%;
    gap: 7%;
    background-position: center;
}
#cp3::before{

    content: "";
    box-sizing: border-box;
    position: absolute;
    height: 75vh;
    margin: 3% 0px 0px 0px;
    
}

#Pr1 , #Pr2 , #Pr3 , #Pr4{

    box-sizing: border-box;
    width: 31vh;
    border-radius: 5px;   
}

#Pr1 , #Pr3{

    background-color: #11a988c2;
    color: #f2f2f2;
}



#Project h4{

    font-size: 28px;
    margin: 10% 10% 5% 25%;
    font-family: AR;
    color: #455d7a;
    
}

#Pr1 h4 , #Pr3 h4{
    color: #f2f2f2;
}


#Project li{
    font-size: 20px;
    font-family: FL;
    margin: 10% 5% 5% 15%;
}


    /* page4 media */


#sect4{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    top: 0;
    background-color: #23314294;
    
}

#sect4::before{

    width: 100%;
    left: 0;
    top: 6%;
    height: 80%;
    z-index: -2;
    opacity: 60%;

}

#cp4{

    display: flex;
    box-sizing: border-box;
    position: relative;
    top: -2vh;
    height: 64vh;
    width: 100%;
    margin: 1% 0px 2vh 0%;
    gap: 20%;
    
}

#Bio{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 100%;
    width: 70%;
    flex-wrap: wrap;
    gap: 12%;
    justify-content: center;
}
#Bio1 , #Bio2 , #Bio3
{
    background-color: #f2f2f2af;
    border-radius: 5px;
    box-sizing: border-box;
    top: -7vh;
    color: #455d7a;
    margin: 3vh -3vh 1vh 1vh;
}
#Bio1{
    
    position: relative;
    width: 45%;
    top: 5%;
    height: 30vh;
}

#Bio2{
    
    position: relative;
    width: 45%;
    top: 5%;
    height: 30vh;

}

#Bio h4{
    font-size: 28px;
    align-self: center;
    font-family: AR;
    margin-left: 3vh;
}
#Bio bold{
    color: #11a988;
}

#Bio li{
    list-style: none;
    font-size: 20px;
    font-family: FL;
    margin-right: 5%;
}


#Bio3{
    
    position: relative;
    height: fit-content;
    width: 100%;
}


#Attr{

    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}

#head{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 25%;
    top: 7%;
    height: 100%;
    position: relative;
    right: 35%;
    font-family: LMM;
    margin-top: 1%;
    margin-top: 2%;
    padding: 5%;
    font-size: 60px;
    color: #f2f2f2;
    justify-content: space-around;
    align-items: center;
}
#head h4{
    margin: 0;
}

#exp{

    background-color: rgba(17, 169, 136, 0.835);
    position: relative;
    top: 7vh;
    right: 0px;
    height: 60vh;
    width: 100%;
    right: 5vh;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 30px;
    color: rgb(69, 93, 122);
    
}

#exp h4{

    font-size: 28px;
    margin: 0;
    align-self: center;
    margin-left: 3vh;
    margin-top: 3vh;
    color: white;
}
#exp li{

    position: relative;
    line-height: 5vh;
    font-family: FL;
    font-size: 20px;
    right: 5%;
    
    
}
.fa-caret-right{
    font-size: 2vh;
    margin-right: 1vh;
}

#pageEnd{

    display: flex;
    box-sizing: border-box;
    position: relative;
    background-color: #455d7a;
    height: 21%;
    width: 100%;
    bottom: -1%;
    align-self: flex-end;
    justify-content: space-evenly;
    gap: 60%;

}

#pageEnd::after{

    content: "Copyright ©2023 All rights reserved | Personal Portfolio | Nauman Zaheer";
    font-family: AR;
    color: #f2f2f2;
    position: absolute;
    font-size: 14px;
    align-self: flex-end;
    bottom: 5%;
}

#leftEnd{

    box-sizing: border-box;
    position: relative;
    top: 0;
    height: 100%;
    width: 25%;
    font-family: AR;
    font-size: 22px;
    line-height: 175%;
    padding-left: 2%;
    color: #f2f2f2;
    
}



#icons{

    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    height: 100%;
    width: 15%;
}

.fa-facebook , .fa-instagram , .fa-threads , .fa-linkedin{
    font-size: 5vh;
    color: #f2f2f2;
    margin-top: 10%;
    margin-right: 5%;
}

.fa-facebook:hover , .fa-instagram:hover , .fa-threads:hover , .fa-linkedin:hover{
    transform: translateY(-5px);
     color: #11a988;
    
}


.fa-envelope , .fa-phone , .fa-house{

    display: inline-block;
    font-size: 3vh;
    color: #f2f2f2;
    position: absolute;
    left: 5%;
}





        
}
